

/*font-family: 'Indie Flower', cursive;*/
.jumbotron {
  background-image: url("../img/1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
}

.jumbotron p {
  color: white;
  text-align: left;
  padding-right: 50%;
}

.panel-footer {
  background-color: blue;
}

.panel-body {
  background-color: red;
  margin-bottom: 10px;
}

.panel-body img {
  float: left;
  max-width: 50%;
  height: auto;
}

.btn.btn-primary {
  background-color: #343a40;
  text-align: center;
}

.contact {
  text-align: center;
}

.restaurant {
  text-align: center;
}

.menu {
  text-align: center;
}

.album {
  text-align: center;
}

.accueil {
  text-align: center;
}

.form-row {
  text-align: center;
  margin: 10px;
}
.album img {
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}
